<div class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="bi bi-house-door me-2"></i>
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/student-exams" routerLinkActive="active" class="nav-link sidebar-link">
        <i class="bi bi-journal-text me-2"></i>
        My Exams
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/profile" routerLinkActive="active">
        <i class="bi bi-person me-2"></i>
        Profile
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about" routerLinkActive="active">
        <i class="bi bi-info-circle me-2"></i>
        About
      </a>
    </li>
  </ul>
</div>
