@if (isLoading) {
<app-loading />
} @else {
<section class="container-fluid px-3 px-md-4 py-4">
  <div class="row g-4">
    <div class="col-12 col-xl-4">
      <app-student-card
        [averageScore]="averageScore"
        [totalMinutes]="totalMinutes"
        [totalSeconds]="totalSeconds"
        [hasAttempts]="hasAttempts"
        [student]="student"
        [isLoading]="isLoading"
      />
    </div>
    <div class="col-12 col-xl-8">
      <h3>Exam Attempts</h3>
      @if (!student?.attempts?.length) {
      <div class="text-center py-5 my-5 bg-light rounded">
        <i class="bi bi-clipboard-x fs-1 text-secondary mb-3"></i>
        <h4 class="text-secondary">No Exam Attempts Yet</h4>
        <p class="text-muted mb-0">
          This student hasn't taken any exams so far.
        </p>
      </div>
      }@else{
      <div class="row g-3 mt-4">
        <div class="col-12 col-md-4">
          <app-small-card
            icon="calendar4-week"
            label="Latest Exam"
            [value]="latestExam?.exam?.subject"
            [customStyle]="{
              backgroundColor: '#f9fafb',
              padding: '10px 25px',
              fontSize: '14px'
            }"
            customClass="fw-medium mt-3"
            customClass2="fw-medium"
            [customStyle2]="{ fontSize: '19px', marginTop: '15px' }"
          >
          </app-small-card>
        </div>
        <div class="col-12 col-md-4">
          <app-small-card
            icon="award"
            label="Best Score"
            [value]="bestScore ? (bestScore | percent : '1.0-1') : '0.00%'"
            [customStyle]="{
              backgroundColor: '#f9fafb',
              padding: '10px 25px',
              fontSize: '14px'
            }"
            customClass="fw-medium mt-3"
            customClass2="fw-medium"
            [customStyle2]="{ fontSize: '19px', marginTop: '15px' }"
          >
          </app-small-card>
        </div>
        <div class="col-12 col-md-4">
          <app-small-card
            icon="clock"
            label="Avg. Completion Time"
            [value]="avgTime + ' mins'"
            [customStyle]="{
              backgroundColor: '#f9fafb',
              padding: '10px 25px',
              fontSize: '14px'
            }"
            customClass="fw-medium mt-3"
            customClass2="fw-medium"
            [customStyle2]="{ fontSize: '19px', marginTop: '15px' }"
          >
          </app-small-card>
        </div>
      </div>
      <app-exam-card [student]="student"></app-exam-card>
      }
    </div>
  </div>
</section>
}
