<section>
    <h4 class="w-75 mx-auto mt-4 mb-5">Students</h4>
    <table class="table text-center w-75 m-auto shadow-lg rounded-4 overflow-hidden">
        <thead>
            <tr>
                <th scope="col" class="pt-5 mx-2">Id</th>
                <th scope="col" class="pt-5 mx-2">Name</th>
                <th scope="col" class="pt-5 mx-2">Exam</th>
                <th scope="col" class="pt-5 mx-2">Degree</th>
                <th scope="col" class="pt-5 mx-2" style="width: 100px; text-align: center;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (student of students; track $index) {
            <tr>
                <td class="py-3 mx-2">{{student.id}}</td>
                <td class="py-3 mx-2">{{student.name}}</td>
                <td class="py-3 mx-2">{{student.exam}}</td>
                <td class="py-3 mx-2">{{student.degree}}</td>
                <td class="py-3 mx-2" class="text-center">
                    <button class="btn btn-sm btn-primary me-2" title="Edit">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-sm btn-danger me-2" title="Delete" (click)="deleteStudent(student.id)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>

</section>