@if(showMessage){
<app-title [text]="'Student deleted successfully!'"></app-title>
} @if (isLoading) {
<app-loading />
} @else if (noStudentsFound && !isLoading) {
<app-not-found></app-not-found>
} @else{
<section class="cont2 mx-auto">
  <div class="mt-4">
    <div class="header">
      <h1 class="title">All Students</h1>
      <button class="add-btn" [routerLink]="['/students/edit/0']">
        ✨ Add New Student
      </button>
    </div>

    <div class="row g-3">
      @for (student of students; track $index) {
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <!-- Name Column -->
              <div class="col-12 col-md-3 mb-3 mb-md-0">
                <h5 class="card-tit mb-0">{{ student.name }}</h5>
              </div>

              <!-- Level Column -->
              <div class="col-12 col-md-2 mb-3 mb-md-0">
                <span class="level-badge" [ngClass]="getLevelClass(student.level)">
                  {{ student.level }}
                </span>
              </div>

              <!-- Exams Column -->
              <div class="col-12 col-md-3 mb-3 mb-md-0">
                @if(student.attempts.length>0){ 
                  @for (attempt of student.attempts;let last = $last; track $index) {
                    <span class="car-sub">{{ attempt.exam?.subject }}</span>
                    @if (!last) {,} 
                  } 
                } @else{
                  <span class="text-muted">Not tested</span>
                }
              </div>

              <!-- Degrees Column -->
              <div class="col-12 col-md-2 mb-3 mb-md-0">
                @if(student.attempts.length>0){ 
                  @for (attempt of student.attempts;let last = $last; track $index) {
                    <span class="card-att">{{ attempt.percentage / 100 | percent : "1.2-2" }}</span>
                    @if (!last) {,} 
                  } 
                } @else{
                  <span class="text-muted">Nothing</span>
                }
              </div>

              <!-- Actions Column -->
              <div class="col-12 col-md-2" style="display: flex; align-items: center; justify-content: center;">
                <div class="d-flex gap-2 justify-content-md-end">
                  <button
                    [routerLink]="['/students', student._id]"
                    class="btn btn-sm btn-outline-primary"
                    title="view"
                  >
                    <i class="bi bi-eye"></i>
                  </button>
                  <button
                    [routerLink]="['/students/edit', student._id]"
                    class="btn btn-sm btn-outline-success"
                    title="Edit"
                  >
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button
                    (click)="deleteStudent(student._id)"
                    class="btn btn-sm btn-outline-danger"
                    title="Delete"
                  >
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>

  <!-- pagination-->
  <nav class="d-flex justify-content-center my-4">
    <ul class="pagination gap-2">
      <!-- Previous -->
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button
          class="page-link px-4 py-2"
          (click)="changePage(currentPage - 1)"
        >
          ← Prev
        </button>
      </li>

      <!-- Page Numbers -->
      @for (page of pagesArray; track $index){
      <li class="page-item" [class.active]="currentPage === page">
        <button
          class="page-link px-3 py-2"
          (click)="changePage(page)"
          [ngClass]="{
            'bg-primary text-white border-0 rounded-3': currentPage === page,
            'border rounded-3': currentPage !== page
          }"
        >
          {{ page }}
        </button>
      </li>
      }
      <!-- Next -->
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button
          class="page-link px-4 py-2"
          (click)="changePage(currentPage + 1)"
        >
          Next →
        </button>
      </li>
    </ul>
  </nav>
</section>
}
