.border-cell {
    border: 1px solid #b3afe242;
    margin: auto;
}

.add-student{
    padding: 6px;
    border: 1px solid hsl(245, 100%, 61%);
    background-color: white;
    border-radius: 5px;
}
.add-student i{
    background-color: hsl(245, 100%, 61%);
    font-size: 18px;
    font-weight:bolder;
    padding: 0px 3px;
    border-radius: 50%;
}