@if (isLoadingStudents || isLoadingExams) {
    <app-loading/>
}
@else {
    <section class="container mx-auto mt-5">
    <h5 class="title">Dashboard</h5>
    <p>Welcome back</p>
    <div class="d-flex justify-content-center flex-wrap" style="margin-top: 100px;">
        <app-statsticis class="me-4 mb-5" label="Exams" [value]="numberOfExams" color="rgb(57, 171, 196)"></app-statsticis>
        <app-statsticis label="Students" class="mb-5" [value]="numberOfStudents" color="rgb(115, 57, 196)"></app-statsticis>
    </div>

</section>
}