<app-success-alert
  *ngIf="showSuccess"
  [title]="'Reset password Successful!'"
  [message]="'your password has been successfully change'"
  [buttonText]="'Goto Sign in'"
  (action)="onSuccessAction()"
>
</app-success-alert>

<div class="container1">
  <div class="login-card">
    <div class="login-content">
      <h1>Create New Password</h1>
      <p class="welcome-text">Enter your new password if you forgot it.</p>
      <div class="line"></div>

      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="login-form">
          <div style="margin-bottom: 0px" class="input-group">
            <input
              [type]="hidePassword ? 'password' : 'text'"
              name="password"
              formControlName="password"
              placeholder="Password"
            />

            <span class="password-toggle" (click)="togglePasswordVisibility()">
              <i
                style="font-size: large; font-weight: bold"
                class="bi"
                [ngClass]="hidePassword ? 'bi-eye' : 'bi-eye-slash'"
              ></i>
            </span>
          </div>
          @if(getPassword?.touched && getPassword?.invalid){
          @if(getPassword?.hasError('required')){
          <p class="paner">Password is required</p>
          } @else if (getPassword?.hasError('pattern')) {
          <p class="paner">
            Password must be at least 8 characters, include uppercase,
            lowercase, number, and special character
          </p>
          } }

          <div style="margin-bottom: 0px; margin-top: 25px" class="input-group">
            <input
              [type]="hidePassword ? 'password' : 'text'"
              name="ConfirmPassword"
              formControlName="ConfirmPassword"
              placeholder="Confirm Password"
            />

            <span class="password-toggle" (click)="togglePasswordVisibility()">
              <i
                style="font-size: large; font-weight: bold"
                class="bi"
                [ngClass]="hidePassword ? 'bi-eye' : 'bi-eye-slash'"
              ></i>
            </span>
          </div>
          @if(getConfirmPassword?.touched && getConfirmPassword?.invalid){
          @if(getConfirmPassword?.hasError('required')){
          <p class="paner">Confirm Password is required</p>
          } @else if (getConfirmPassword?.hasError('pattern')) {
          <p class="paner">
            Password must be at least 8 characters, include uppercase,
            lowercase, number, and special character
          </p>
          } }

          <button type="submit" class="sign-in-btn">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-toast-alert
  *ngIf="showToast"
  [message]="toastMessage"
  [type]="toastType"
  [duration]="3000"
  style="position: fixed; top: 20px; right: 20px; z-index: 9999"
>
</app-toast-alert>
