@if (isLoading) {
<app-loading />
}
@else {
<section class="d-flex left-side">
    <app-student-card [averageScore]="averageScore" [totalMinutes]="totalMinutes" [totalSeconds]="totalSeconds"
        [hasAttempts]="hasAttempts" [student]="student" [isLoading]="isLoading" />
    <div class="container ps-4 mt-1">
        <h3>Exam Attempts</h3>
        <div class="d-flex mt-4 gap-2">
            <app-small-card icon="calendar4-week" label="Latest Exam" [value]="latestExam?.exam?.subject"
                [customStyle]="{ backgroundColor: '#f9fafb',padding:'10px 25px',fontSize:'14px',width:'263px'}"
                customClass="fw-medium mt-3" customClass2="fw-medium"
                [customStyle2]="{fontSize:'19px',marginTop:'15px'}">
            </app-small-card>
            <app-small-card icon="award" label="Best Score"
                [value]="bestScore ? (bestScore | percent:'1.0-1') : '0.00%'"
                [customStyle]="{ backgroundColor: '#f9fafb',padding:'10px 25px',fontSize:'14px',width:'263px'}"
                customClass="fw-medium mt-3" customClass2="fw-medium"
                [customStyle2]="{fontSize:'19px',marginTop:'15px'}">
            </app-small-card>
            <app-small-card icon="clock" label="Avg. Completion Time" [value]="avgTime+' mins'"
                [customStyle]="{ backgroundColor: '#f9fafb',padding:'10px 25px',fontSize:'14px' ,width:'263px'}"
                customClass="fw-medium mt-3" customClass2="fw-medium"
                [customStyle2]="{fontSize:'19px',marginTop:'15px'}">
            </app-small-card>
        </div>
        <app-exam-card [student]="student"></app-exam-card>
    </div>
</section>
}