
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.side-nav {
  z-index: 1000;
}

@media (max-width: 1200px) {
  .side-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
  }
}