<header class="d-flex align-items-center justify-content-between mt-2">
    <button  (click)="onToggleSidebar()">
        <i class="bi bi-list"></i>
    </button>
    <input type="text" class="form-control w-50 inputSearch" placeholder="Search..." (input)="onSearchInput($event)" />
    <div class="d-flex justify-content-end align-items-center">
        <i style="color: white;" class="bi bi-bell me-3"></i>
        <img src="https://th.bing.com/th/id/OIP.5MxizVjWEaUlIbsM0AiAGgHaFj?rs=1&pid=ImgDetMain" alt="Admin image">
    </div>
</header>