<div class="container1">
    <div class="login-card">
        <div class="login-content">
            <h1>Reset Password</h1>
            <p class="welcome-text">Enter your email for a password reset link.</p>
            <div class="line" ></div>

            <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                <div class="login-form">
                    <div class="form-group">
                        <input
                            type="email"
                            class="form-control"
                            formControlName="email"
                            placeholder="Enter your email"
                            [ngClass]="{
                                'is-invalid': getEmail?.invalid && getEmail?.touched,
                                'is-valid': getEmail?.valid && getEmail?.touched
                            }"
                        />
                        @if(getEmail?.touched && getEmail?.invalid){
                            @if(getEmail?.hasError('required')){
                                <p class="paner">
                                    Email is required
                                </p>
                            }
                            @else if (getEmail?.hasError('invalidEmail')) {
                                <p class="paner">
                                    Invalid email format
                                </p>
                            }
                        }
                    </div>

                    <!-- <div style="color: red; margin-top: 10px; text-align: start;" *ngIf="errorMessage">
                        {{ errorMessage }}
                    </div> -->

                    <button
                        type="submit"
                        class="sign-in-btn"
                        [disabled]="isLoading"
                    >
                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                        {{ isLoading ? 'Sending...' : 'Send Reset Link' }}
                    </button>
                </div>
            </form>

            <div class="register-link">
                <p> <a (click)="loginNow()">Back to Sign in</a></p>
            </div>
        </div>
    </div>
</div>

<app-toast-alert
  *ngIf="showToast"
  [message]="toastMessage"
  [type]="toastType"
  [duration]="3000">
</app-toast-alert>
