.side-nav {
    background-color: #4A3AFF;
    height: 100vh;
    width: 250px;
    overflow: hidden;
}

.logo {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}

.side-data {
    margin-top: 50px;
    height: 78%;
    a {
        font-family: 'Poppins';
        font-weight: 400;
        line-height: 24px;
        height: 69.83px;
        margin-bottom: 0;
        cursor: pointer;
        color: white;
        font-size: 16px;
        text-decoration: none;
        i {
            font-size: 25px;
        }
    }
}

.side-data a:hover,.active-link {
    background-color: #b3afe242;
}