<section class="side-nav rounded-end-5">
  <div class="d-flex justify-content-center pt-5">
    <p class="logo"><i class="bi bi-clipboard-check me-2"></i>TestPilot</p>
  </div>
  <div class="side-data mt-4 d-flex flex-column justify-content-between">
    <nav class="d-flex flex-column">
      <a
        [routerLink]="['/admin-dashboard']"
        routerLinkActive="active-link"
        class="d-flex align-items-center px-4 ps-m-5"
        appHideSidebarOnClick
      >
        <i class="bi bi-house-door me-3"></i> Dashboard
      </a>
      <a
        [routerLink]="['/exams']"
        routerLinkActive="active-link"
        class="d-flex align-items-center px-4 ps-m-5"
        appHideSidebarOnClick
      >
        <i class="bi bi-file-text me-3"></i>Exams
      </a>
      <a
        [routerLink]="['/students']"
        routerLinkActive="active-link"
        class="d-flex align-items-center px-4 ps-m-5"
        appHideSidebarOnClick
      >
        <i class="bi bi-people-fill me-3"></i> Students
      </a>
      <a
        [routerLink]="['/reports']"
        routerLinkActive="active-link"
        class="d-flex align-items-center px-4 ps-m-5"
        appHideSidebarOnClick
      >
        <i class="bi bi-file-earmark-text me-3"></i> Reports
      </a>
    </nav>

    <div class="settings d-flex flex-column">
      <!-- <a [routerLink]="['/settings']" routerLinkActive="active-link" class="d-flex align-items-center px-4 ps-m-5" appHideSidebarOnClick>
                <i class="bi bi-gear me-3"></i> Settings
            </a> -->
      <a
        (click)="logout()"
        routerLinkActive="active-link"
        class="d-flex align-items-center px-4 ps-m-5 mb-md-3"
        appHideSidebarOnClick
      >
        <i class="bi bi-box-arrow-left me-3"></i> Sign Out
      </a>
    </div>
  </div>
</section>
