<div class="stat-card">
  <div class="stat-header">
    <div class="stat-info">
      @if (icon) {
      <i class="fas {{ icon }}"></i>
      }
      <span class="label">{{ label }}</span>
    </div>
    <span class="value">{{ getDisplayValue() }}</span>
  </div>
  <div class="chart-container">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [plotOptions]="chartOptions.plotOptions"
      [xaxis]="chartOptions.xaxis"
      [fill]="chartOptions.fill"
      [colors]="chartOptions.colors"
    >
    </apx-chart>
  </div>
</div>
